[submodule "tests/sexpr-parser"]
	path = tests/integration/sexpr-parser
	url = git@github.com:benthepoet/c-sexpr-parser.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "components/protobuf/lib"]
	path = components/protobuf/lib
	url = git@github.com:protocolbuffers/protobuf.git
